@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');          
   *{
   margin:0;
   padding:0;
   box-sizing:border-box;     
   }
   
 body{
background:#091921;                           font-family: 'Poppins', sans-serif;
 }
 
 .container{
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 height:550px;
 width:350px;
 background:white;
 border-radius:5px;  
 overflow:hidden; 
}
 
 .cle{
 all:unset; 
 height:30px;
 width:31.5px;
 padding:28px; 
 display:flex;
 justify-content:center;
 align-items:center; 
 float:left;
 color:white;
 background:#0C2835;
 position:relative;
 top:0px;
 font-size:20px;
 }
 
 input[type="text"]{
 all:unset;
 width:350px;
 height:120px;
 font-size:40px;
 text-align:right;
}

#clear{
 background:#ff3077;   
}

.cle:hover{
 background:#74ff3b;   
} 

#equal{
background:#03b1ff;    
}

a{
text-decoration:none;
color:white;
font-size:10px;
position:absolute;
bottom:0;
left:50%;
transform:translate(-50%,-50%);
white-space:nowrap;    
}
